@use '../base/color' as *;
@use '../base/variable' as *;
@use '../abstracts/mixin' as *;

// Hero
.hero {
    // background-color: $color-primary-900;
    background-color: hsl(185.99deg 97.98% 8.27%);
    margin-block-end: $space-x16;
    overflow: hidden;
    position: relative;

    background-image: url('../../assets/images/hero-main-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

    @include breakpoint('tablet-landscape') {
        background-size: 100%;
        background-position: bottom;

    }

    @include breakpoint('large') {
        border-radius: 5rem;
        margin-inline: auto;
        width: min(calc(100% - 8rem), 1400px);
    }

    &__wrapper {
        align-items: center;
        padding-block: $space-x25 0;
        position: relative;
        row-gap: 0;
        z-index: 5;


        @include breakpoint('desktop') {
            min-height: 65rem;
        }

    }

    &__content {
        grid-column: 1/ -1;

        @include breakpoint('tablet-landscape') {
            grid-row: 1;
            grid-column: 1/ 7;
            margin-block-end: $space-x13;
        }
    }

    &__headline {
        color: $color-neutral-100;
        text-align: center;

        @include breakpoint('tablet-landscape') {
            text-align: left;
        }
    }

    &__btn-group {
        gap: $space-x6;
        justify-content: center;
        margin-block: $space-x10;

        @include breakpoint('tablet-landscape') {

            justify-content: start;
        }
    }

    @keyframes pulse {
        70% {
            box-shadow: 0 0 0 3rem rgba($color-primary-500, 0);
        }

        100% {
            box-shadow: 0 0 0 0 rgba($color-primary-900, 0);
        }

    }

    &__btn {
        padding-block: $space-x4;

        &:hover {
            background-color: $color-primary-500;
            color: $color-neutral-100;
        }
    }

    &__play {
        animation: pulse 2.5s infinite;
        box-shadow: 0 0 0 0 rgba($color-primary-500, 0.6);
        height: 6rem;
        width: 6rem;

        &:hover {
            background-color: $color-primary-500;
        }

    }

    &__banner {
        background-image: url('../../assets/images/hero-img-bg.png');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
        display: flex;
        grid-column: 1 / -1;

        // @include breakpoint('tablet') {
        //     background-size: 50rem;
        // }

        @include breakpoint('tablet-landscape') {
            background-size: contain;
            grid-column: 7 / -1;
            grid-row: 1;
            height: 100%;
        }


        // @include breakpoint('desktop') {
        //     align-self: end;
        // }

    }

    &__img {
        max-width: 65rem;
        height: 100%;
        margin-inline: auto;
        width: 100%;

        @include breakpoint('tablet-landscape') {
            // max-width: 100%;
            width: 68rem;
            height: 100%;
        }

    }
}

// Services 
.services {

    &__header {
        margin-block-end: $space-x10;
        max-width: 30rem;
        text-align: center;

        @include breakpoint('tablet') {
            max-width: 45rem;
        }
    }

    &__list {
        gap: $space-x8;
        margin-block-end: $space-x13;

        @include breakpoint('tablet-landscape') {

            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__item {
        grid-column: 1 / -1;
        max-width: 60rem;
        text-align: center;

        @include breakpoint('tablet-landscape') {

            grid-column: unset;
        }
    }

    &__icon {
        height: 6rem;
        width: 6rem;
    }

    &__title {
        margin-block: $space-x8 $space-x4;
    }
}

// About 
.about {
    background-color: $color-neutral-100;
    padding-block-end: $space-x16;

    @include breakpoint('tablet-landscape') {
        padding-block-end: 0;

    }

    &__wrapper {
        position: relative;
        gap: $space-x13;

        @include breakpoint('tablet') {
            gap: $space-x10;
        }

        @include breakpoint('desktop') {
            gap: $space-x20;
        }
    }

    &__content {
        grid-column: 1/ -1;

        @include breakpoint('tablet-landscape') {
            grid-column: 6/ -1;
        }
    }

    &__work {
        display: grid;
        gap: $space-x5;
        grid-template-columns: 1fr;

        @include breakpoint('mobile') {
            grid-template-columns: repeat(2, 2fr);
        }
    }

    &__title {
        margin-inline-start: $space-x3;
    }

    &__description {
        margin-block: $space-x4 $space-x8;
    }

    &__card {
        gap: $space-x2;
    }

    &__card-header {
        margin-block-end: $space-x3;
    }

    &__icon {
        width: 5rem;
        height: 5rem;
    }

    &__contact {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        align-items: center;
        gap: $space-x10;


        @include breakpoint('tablet-landscape') {
            flex-direction: row;
            position: static;
            margin-block-start: $space-x8;
        }
    }

    &__phone {
        gap: $space-x2;
        display: none;

        @include breakpoint('tablet-landscape') {
            display: flex;
            max-width: 50%;
        }
    }

    &__text {
        margin-inline-start: $space-x2;
    }

    &__gallery {
        gap: $space-x5;
        grid-column: 1/ -1;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 10rem 1fr 12.7rem;
        margin-block: 0 $space-x8;

        @include breakpoint('tablet') {
            grid-template-rows: 15rem 30rem 20rem;
        }

        @include breakpoint('tablet-landscape') {
            grid-row: 1;
            grid-column: 1/ 6;
            grid-template-rows: 12rem 15rem 15rem;
        }


    }


    &__img {
        border-radius: $radius-sm;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    &__experience {
        border-radius: $radius-sm;
        background-color: $color-primary-500;
        gap: $space-x4;
        line-height: 1.4;
        font-weight: 600;
        grid-column: 4 / -1;
    }

    &__years {
        font-size: 3rem;
        color: $color-neutral-100;

        @include breakpoint('tablet') {
            font-size: 5rem;
        }
    }

    &__item {
        justify-self: center;
        align-self: end;
        height: 100%;
        max-width: 70rem;

        &--one {
            grid-column: 1 / 4;
            grid-row: 1 / span 2;

            @include breakpoint('tablet') {
                justify-self: stretch;
            }
        }

        &--two {
            grid-column: 1 / 4;
            grid-row: 3 / -1;

            img {
                max-width: 15rem;
                max-height: 12.7rem;

                @include breakpoint('tablet') {
                    max-width: 20rem;
                    max-height: 100%;
                    justify-self: center;
                }
            }
        }

        &--three {
            grid-column: 4 / -1;
            grid-row: 2 / -1;
        }
    }
}

// Companies 
.companies {
    &__wrapper {
        gap: $space-x4;
        grid-template-columns: 1fr 1fr;
        place-items: center;

        @include breakpoint('tablet') {
            grid-template-columns: repeat(5, 1fr)
        }
    }

    &__img {
        max-width: 12.5rem;

        &:last-child {
            grid-column: 1 / -1;

            @include breakpoint('tablet') {

                grid-column: unset;
            }
        }
    }
}

// Countries

.countries {
    background-color: $color-primary-900;

    @include breakpoint('large') {
        border-radius: 5rem;
        margin-inline: auto;
        width: min(calc(100% - 8rem), 1400px);
    }


    &__wrapper {
        position: relative;
    }

    &__header {
        margin-block-end: $space-x10;

        svg {
            fill: $color-neutral-100;
        }

        @include breakpoint('tablet') {
            margin-block-end: $space-x13;

        }

        @include breakpoint('tablet-landscape') {
            flex-direction: row;
            align-items: center;
        }
    }

    &__label {
        color: $color-primary-500;
    }

    &__headline {
        color: $color-neutral-100;
    }

    &__slide {
        border-radius: $radius-md;
        height: 38rem;
        object-fit: cover;
        overflow: hidden;
        position: relative;
        user-select: none;
        max-width: 32rem;

        @include breakpoint('mobile') {
            width: 24rem !important;

            &--russia {
                width: 34rem !important;
            }
        }

        @include breakpoint('tablet-landscape') {
            height: 42rem;
            width: 100% !important;

        }

        &::after {
            background-color: hsla(240, 100%, 5%, 0.392);
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__flag {
        height: 4.5rem;
        position: absolute;
        right: $space-x5;
        top: $space-x5;
        width: 4.5rem;
        z-index: 5;
    }

    &__info {
        background-color: $color-neutral-100;
        border-radius: $radius-md;
        bottom: $space-x5;
        gap: $space-x4;
        left: 50%;
        padding: $space-x5;
        position: absolute;
        transform: translateX(-50%);
        width: calc(100% - 4rem);
        z-index: 966;
    }

    &__btn {
        border: 1px solid $color-neutral-100;

        @include breakpoint('tablet-landscape') {
            position: static;
            border: none;
        }

        &:hover {
            background-color: $color-neutral-100;
            color: $color-primary-900;

            svg {
                fill: $color-primary-900;
            }
        }


        svg {
            width: auto;
            height: auto;
            fill: $color-neutral-100;
        }

        &--next {
            transform: translateX(1.5rem);

            @include breakpoint('tablet-landscape') {
                transform: unset;
                margin-inline-start: $space-x3;
            }
        }

        &--prev {
            transform: translateX(-1.5rem);

            @include breakpoint('tablet-landscape') {
                transform: unset;
            }
        }
    }


}


// Visa Category
.visa {
    background-color: $color-neutral-100;

    &__header {
        margin-block-end: $space-x10;
    }

    &__categories {
        gap: $space-x6;

        @include breakpoint('tablet-landscape') {
            grid-template-columns: 1fr 1fr;
        }
    }

    &__item {
        gap: $space-x6;
        grid-column: 1 / -1;
        grid-template-columns: 1fr;

        @include breakpoint('tablet') {
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }

        @include breakpoint('tablet-landscape') {
            grid-column: unset;
        }
    }

    &__img {
        border-radius: $radius-md;
        width: 100%;

        @include breakpoint('tablet-landscape') {
            height: 100%;
            object-fit: cover;

        }
    }

    &__details {
        gap: $space-x4;
    }
}

// Testimonials 
.testimonials {
    &__header {
        margin-block-end: $space-x10;
    }

    &__content {
        @include breakpoint('tablet') {
            grid-template-rows: 1fr;
        }
    }

    &__img {
        border-radius: $radius-md;
        display: none;

        @include breakpoint('tablet') {
            display: block;
            grid-column: 1 / 4;
            grid-row: 1;
            height: 40rem;
            object-fit: cover;
            width: 100%;
        }

        @include breakpoint('tablet-landscape') {
            grid-column: 1 / 8;
            height: 54rem;
            object-position: top;

        }
    }

    &__swiper {
        background-color: $color-primary-500;
        border-radius: $radius-md;
        box-shadow: 0px 0px 12px 6px rgb(170 170 170 / 39%);
        color: $color-neutral-100;
        grid-column: 1/ -1;
        padding: $space-x5;
        padding-block-end: $space-x16;
        position: relative;
        width: 100%;

        @include breakpoint('tablet') {
            align-self: center;
            grid-column: 3/ -1;
            grid-row: 1;
        }

        @include breakpoint('tablet-landscape') {
            grid-column: 7 / -1;
            height: 35rem;
            padding: $space-x8;
        }

        &::after {
            content: "";
            width: 55%;
            height: 1px;
            background-color: $color-neutral-100;
            position: absolute;
            bottom: $space-x8;
            left: $space-x5;
        }
    }

    &__description {
        margin-block: $space-x5 $space-x8;
        font-size: 1.6rem;

        @include breakpoint('tablet-landscape') {
            font-size: 1.8rem;

        }
    }

    &__role {
        font-size: 1.2rem;
    }

    &__btn {
        background-color: $color-neutral-100;
        position: static;

        &:hover {
            background-color: $color-primary-900;
            color: $color-primary-900;

            svg {
                fill: $color-neutral-100;
            }
        }


        svg {
            width: auto;
            height: auto;
            fill: $color-primary-900;
        }

        &--prev {
            margin-inline-end: $space-x4;
        }
    }

    &__icon {
        height: 3rem;
        width: 3rem;

        @include breakpoint('tablet-landscape') {
            height: 4rem;
            width: 4rem;

        }
    }

    &__avatar {
        border-radius: $radius-full;
        height: 4.5rem;
        margin-inline-end: $space-x3;
        object-fit: cover;
        width: 4.5rem;
        align-self: flex-start;
    }
}

// Faq 
.faq {
    background-color: $color-neutral-100;

    @include breakpoint('tablet-landscape') {
        &__wrapper {
            margin-inline: auto;
            max-width: 80rem;

        }
    }

    &__header {
        margin-block-end: $space-x10;
    }
}