@use "../abstracts/mixin" as *;
@use "../base/color" as *;
@use "../base/button" as *;
@use "../base/typography" as *;

body {
  margin-inline: auto;
  padding-block: 2rem;
}

h1,
h2,
h3,
p,
button {
  grid-column: 2 / -2;
}
