@use "../abstracts/mixin" as *;

.u-flex-col {
  flex-direction: column;
}

.u-flex-ac {
  align-items: center;
}

.u-flex-jc-center {
  justify-content: center;
}

.u-flex-jb {
  justify-content: space-between;
}

.u-flex-jc-between {
  align-items: center;
  justify-content: space-between;
}

.u-flex-center {
  justify-content: center;
  align-items: center;
}

@include breakpoint("tablet") {
  .u-flex-md-col {
    flex-direction: column;
  }

  .u-flex-md-row {
    flex-direction: row;
  }
}

@include breakpoint("tablet-landscape") {
  .u-flex-lg-col {
    flex-direction: column;
  }

  .u-flex-lg-row {
    flex-direction: row;
  }
}

@include breakpoint("desktop") {
  .u-flex-xlg-col {
    flex-direction: column;
  }

  .u-flex-xlg-row {
    flex-direction: row;
  }
}