@use "../abstracts/function" as convert;
@use "../base/variable" as *;
@use "../abstracts/mixin" as *;

.l-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $space-x5;

  @include breakpoint("tablet") {
    grid-template-columns:
      repeat(6, 1fr);

    gap: $space-x8;
  }

  @include breakpoint("tablet-landscape") {
    grid-template-columns:
      repeat(12, 1fr);
  }

  // @include breakpoint("desktop") {
  //   grid-template-columns:
  //     1fr repeat(12,
  //       calc((min(100% - $space-x20, convert.toEm(1140)) - 11 * $space-x8) / 12)) 1fr;
  // }

}