@use "../abstracts/function" as convert;
@use "../base/variable" as *;
@use "../abstracts/mixin" as *;

.l-grid {
  display: grid;
}

.l-grid-main {
  @extend .l-grid;
  grid-template-columns:
    1fr repeat(3,
      calc((min(100% - $space-x10, convert.toRem(540)) - 2 * $space-x5) / 3)) 1fr;
  gap: $space-x5;

  @include breakpoint("tablet") {
    grid-template-columns:
      1fr repeat(6,
        calc((min(100% - $space-x20, convert.toEm(700)) - 5 * $space-x8) / 6)) 1fr;

    gap: $space-x8;
  }

  @include breakpoint("tablet-landscape") {
    grid-template-columns:
      1fr repeat(12,
        calc((min(100% - $space-x20, convert.toEm(940)) - 11 * $space-x8) / 12)) 1fr;
  }

  @include breakpoint("desktop") {
    grid-template-columns:
      1fr repeat(12,
        calc((min(100% - $space-x20, convert.toEm(1140)) - 11 * $space-x8) / 12)) 1fr;
  }

  @include breakpoint("large") {
    grid-template-columns:
      1fr repeat(12,
        calc((min(100% - $space-x20, convert.toEm(1280)) - 11 * $space-x8) / 12)) 1fr;
  }
}