@use '../base/variable' as *;
@use '../base/color' as *;

.accordion {

    &__item {
        overflow: hidden;

        &:nth-child(2) {
            margin-block: $space-x5;
        }
    }

    &__headline {
        color: $color-primary-900;
        font-weight: 700;
    }


    &__btn {
        text-align: left;
        gap: $space-x3;

        &[aria-expanded='true'] {

            .accordion__icon {
                background-color: $color-primary-500;
                border-color: $color-primary-500;

                svg {
                    fill: $color-neutral-100;
                    transform: rotate(-90deg);
                }
            }

        }

        &:hover {
            .accordion__icon {
                background-color: $color-primary-900;

                svg {
                    fill: $color-neutral-100;
                }
            }
        }
    }

    &__icon {
        background-color: transparent;
        border: 1px solid $color-primary-900;
        transition: background-color 0.3s ease;

        svg {
            fill: $color-primary-900;
            transition: transform 0.3s ease;
        }
    }

    &__panel {
        height: 0;
        overflow: hidden;
        padding-block-start: 0;
        transition: padding 0.25s ease;

        &.has-expanded {
            height: 100%;
            padding-block-start: $space-x3;
        }
    }

}