@use '../base/variable' as *;
@use '../base/color' as *;

.form {

    &__group {
        margin-block-start: $space-x4;
    }

    &__label {
        display: block;
        margin-block-end: 0.5rem;
    }

    &__control {
        position: relative;
        height: 4.5rem;
        width: 100%;
        overflow: hidden;
        border-radius: $radius-sm;
        background-color: $color-neutral-100;

        &--area {
            height: auto;
            padding-block: $space-x4;
        }
    }

    &__input {
        border: none;
        color: $color-neutral-900;
        height: 100%;
        outline: none;
        padding-inline: $space-x4;
        width: 100%;

        &::placeholder {
            color: $color-neutral-500;
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: $space-x4;
        transform: translateY(-50%);

        &--message {
            top: $space-x5;
        }
    }

    &__btn {
        margin-block-start: $space-x5;
    }

}