@use '../base/variable' as *;
@use '../base/color' as *;

.swiper {
    &__controls {
        justify-content: space-between;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 996;
    }

    &__btn {
        &:hover {
            background-color: $color-neutral-100;
            color: $color-primary-900;
        }

        &--right {
            transform: translateX(1.5rem);
        }

        &--left {
            transform: translateX(-1.5rem);
        }
    }

    &__item {
        max-width: 36rem;
        max-height: 40rem;
        object-fit: cover;
        position: relative;


        &::after {
            background-color: hsla(240, 100%, 5%, 0.392);
            border-radius: $radius-md;
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
        }
    }

    &__img {
        border-radius: $radius-md;
        height: 100%;
        width: 100%;
    }

    &__flag {
        position: absolute;
        right: $space-x5;
        top: $space-x5;
        z-index: 5;
    }

    &__info {
        background-color: $color-primary-500;
        color: $color-neutral-100;
        border-radius: $radius-md;
        padding: $space-x5;
        z-index: 999;
        gap: $space-x4;
        width: 10rem;
        position: absolute;
        bottom: $space-x10;
        left: 0;
    }
}

// Visa Category
.visa {
    background-color: $color-neutral-100;

    &__header {
        margin-block-end: $space-x10;
    }

    &__categories {
        gap: $space-x8;
    }

    &__item {
        gap: $space-x6;
        grid-column: 1 / -1;
        grid-template-columns: 1fr;
    }

    &__img {
        border-radius: $radius-md;
        height: 20rem;
        object-fit: cover;
        object-position: top;
        width: 100%;
    }

    &__details {
        gap: $space-x4;
    }
}