@use '../base/variable' as *;
@use '../base/color' as *;
@use "../abstracts/mixin" as *;

.swiper {
    &-controls {
        justify-content: space-between;
        left: 0;
        position: absolute;
        top: calc(50% + 6rem);
        transform: translateY(-50%);
        z-index: 996;

        @include breakpoint('tablet-landscape') {
            justify-content: end;
            position: static;
            transform: unset;
            width: 50%;
        }


        // Testimonials swiper controls
        &-test {
            bottom: 1.4rem;
            position: absolute;
            right: $space-x5;
            width: max-content;
        }
    }

    &-button::after {
        display: none;
    }

}