@use "../base/color" as *;
@use "../base/variable" as *;

.btn {
  align-items: center;
  border-radius: $radius-full;
  display: inline-flex;
  font-size: 1.4rem;
  font-weight: 600;
  gap: 1rem;
  justify-content: center;
  padding: 1.6rem 3rem;
  text-align: center;
  transition: all 0.25s ease-in-out;

  &__arrow {
    font-size: 1.6rem;
  }

  &-icon-only {
    gap: 0;
    height: 6rem;
    width: 6rem;
    padding: 0;
  }

  &--light {
    background-color: $color-neutral-100;
    color: $color-primary-900;

    svg {
      fill: $color-primary-900;
    }

    &:hover {
      background-color: $color-primary-900;
    }
  }

  &--primary {
    background-color: $color-primary-500;
    color: $color-neutral-100;

    &:hover {
      background-color: $color-primary-900;
    }
  }

  &--outline-success {
    background-color: transparent;
    border-color: $color-primary-500;
    color: $color-primary-900;

    &:hover {
      background-color: $color-primary-900;
      color: $color-neutral-100;
    }
  }

  &--outline-light {
    border-color: $color-neutral-100;
    color: $color-neutral-100;

    &:hover {
      background-color: $color-primary-900;
      color: $color-neutral-100;
    }
  }
}