$color-neutral-100: hsl(0, 0%, 100%);
$color-neutral-200: hsl(12, 15%, 87%);
$color-neutral-500: hsl(0, 0%, 45%);
$color-neutral-900: hsl(225, 9%, 9%);

$color-primary-900: hsl(162, 92%, 15%);
$color-primary-500: hsl(86, 73%, 46%);
// $color-primary-100: hsl(84, 33%, 94%);
$color-primary-100: hsl(93.6deg 100% 94.7%);