@use "../abstracts/function" as convert;

.u-headline-primary {
  font-size: convert.toRem(36);
  font-size: clamp(convert.toRem(36), 2.3rem + 5.789644012945vw, 8rem)
}

.u-headline-secondary {
  // font-size: convert.toRem(30);
  // font-size: clamp(convert.toRem(30),
  //     1.6055825242718447rem + 1.6828478964401297vw,
  //     convert.toRem(50));
  font-size: convert.toRem(30);
  font-size: clamp(convert.toRem(30), 2rem + 2.2944983818770228vw, 5rem);
  max-width: 60rem;
}

.u-sub-headline {
  font-size: convert.toRem(18);
  font-size: clamp(convert.toRem(18),
      1.0339805825242718rem + 1.3883495145631068vw,
      convert.toRem(22));
}

.u-section-label {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}